html, body {
  height: 100vh;
  width: 100vw
}


body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  background-color: #1d4871;
  opacity: .9;
  
  h2 {
    display: relative;
    font-size: 4vw;
    font-family: fantasy;
    width: 29%;
    height: 29%;
    -webkit-text-stroke: 0.3vw whitesmoke;
    text-transform: uppercase;
    color: whitesmoke;
  }

  h2::before, h2 {
    content: attr(data-text);
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    margin-top: 20px;
    padding: 0 10px;
    -webkit-text-stroke: 0vw green;
    overflow: hidden;
    animation: animate 3.8s linear 1.25;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  

  @keyframes animate 
  {
    0%, 10%, 100%
    {
      width: 40%;
    }
    70%
    {
      width: 0%;
    }
  }

  #blue {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;

    #title-background {
      background-color: yellowgreen;
      width: 20%;
      height: 20%;
    }
    
  }

  #room-cont {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;

    #left-of-room {
      box-shadow: -5px 5px 11px 0px #00000094;
      height: 55%;
      position: absolute;
      top: 25%;
      left: 2%;
      width: 17%;
      background-color: #120101d9;
      border-radius: 10px;

      #rooms-heading-select {
        position: absolute;
        top: 2%;
        left: 12%;
        width: 54%;
        height: fit-content;
        font-family: "Space Mono", monospace;
        font-size: 31px;
        color: #7ca4c7;
      }
      #rooms-heading-a {
        position: absolute;
        top: 2%;
        left: 69%;
        width: 57%;
        height: fit-content;
        font-family: "Space Mono", monospace;
        font-size: 31px;
        color: #7ca4c7;
      }
      #rooms-heading-room {
        position: absolute;
        top: 11%;
        left: 31%;
        width: 54%;
        height: fit-content;
        font-family: "Space Mono", monospace;
        font-size: 32px;
        color: #7ca4c7;
      }
      
      #line-divider {
        position: absolute;
      }


      #room-list {
        height: fit-content;
        width: 70%;
        position: absolute;
        top: 26%;
        left: 0;
        font-family: "Space Mono", monospace;
        color: whitesmoke;
      }

      .rooms {
        display: flex;
        align-items: center;
        height: 3em;
        width: 100%;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;
        margin-left: 10px;
        padding-left: 20px;
      }

      .rooms:hover {
        background-color: whitesmoke;
        color: #120101d9;
      }
    }
    
    #room {
      box-shadow: -5px 5px 11px 0px #00000094;
      background: url(/JavaScript-Project/public/images/beat_machine_rooms/Room1_blue_border_scheme.png) center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      
      background-size: cover;
      position: absolute;
      height: 75%;
      width: 68%;
      top: 15%;
      left: 21%;
      border-radius: 10px;

        #clock {
          position: absolute;
          height: 11.5%;
          width: 4%;
          top: 31%;
          left: 3%;
          cursor: pointer;
        }

        #lamp_desk {
          height: 40%;
          width: 31%;
          position: absolute;
          top: 71%;
          left: 5%;
        }

        #lamp {
          height: 10%;
          width: 5%;
          position: absolute;
          top: 74%;
          left: 7%;
          cursor: pointer;
        }

        #flower-pot {
          height: 20%;
          width: 9%;
          position: absolute;
          top: 65%;
          left: 43%;
          cursor: pointer;
        }

        #board-game {
          height: 6%;
          width: 11%;
          position: absolute;
          top: 78%;
          left: 15%;
          cursor: pointer;
        }

        #chair {
          height: 29%;
          width: 13%;
          position: absolute;
          top: 68%;
          left: 70%;
          cursor: pointer;
        }

        #window {
          height: 35%;
          width: 16%;
          position: absolute;
          top: 27%;
          left: 47%;
        }

        #fan {
          height: 20%;
          width: 17%;
          position: absolute;
          top: 1%;
          left: 23%;
        }

        #desk {
          height: 28%;
          width: 23%;
          position: absolute;
          top: 68%;
          left: 77%;
          transform: rotate(1deg);
        }
    }
  
    #room:hover {
      box-shadow: 13px 27px 75px 18px #00000094;
    }
  }
}





/* .img1 {
  position: relative;
  top: 20%;
  left: 0;
}

.img2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 300px;
  left: 500px;
}  */